In [3]:
import pandas as pd
import config as cfg

In [4]:
all_viajes = pd.read_csv(cfg.VIAJES_DATA / 'all_viajes_month_0322.csv')
df = all_viajes.loc[(all_viajes['actividad_origen'] == 'casa')]

In [6]:
all_viajes

,fecha,periodo,origen,destino,distancia,actividad_origen,actividad_destino,estudio_origen_posible,estudio_destino_posible,residencia,renta,edad,sexo,viajes,viajes_km
0,20220301,0,2807901,2807901,0.5-2,casa,frecuente,no,no,28,>15,0-25,hombre,29.337,30.222
1,20220301,0,2807901,2807901,0.5-2,casa,frecuente,no,no,28,>15,0-25,mujer,34.143,27.522
2,20220301,0,2807901,2807901,0.5-2,casa,frecuente,no,no,28,>15,25-45,hombre,92.799,63.331
3,20220301,0,2807901,2807901,0.5-2,casa,frecuente,no,no,28,>15,25-45,mujer,65.475,44.556
4,20220301,0,2807901,2807901,0.5-2,casa,frecuente,no,no,28,>15,45-65,hombre,44.319,31.052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19900950,20220331,23,2807921,2807921,2-10,trabajo_estudio,frecuente,no,no,28,>15,0-25,hombre,6.787,19.129
19900951,20220331,23,2807921,2807921,2-10,trabajo_estudio,frecuente,no,no,28,>15,25-45,mujer,3.400,9.053
19900952,20220331,23,2807921,2807921,2-10,trabajo_estudio,frecuente,no,no,28,>15,65-100,hombre,2.005,4.716
19900953,20220331,23,2807921,2807921,2-10,trabajo_estudio,no_frecuente,no,no,28,10-15,0-25,hombre,9.134,33.998
19900954,20220331,23,2807921,2807921,2-10,trabajo_estudio,no_frecuente,no,no,28,>15,45-65,hombre,2.005,4.624

In [3]:
all_viajes.shape

(19900955, 15)

In [4]:
df.shape

(4839108, 15)

In [9]:
import pandas as pd
# all_viajes = pd.read_csv('/Users/caro/Desktop/thesis_project/mobility_data/VIAJES/all_viajes_month_0322.csv') # all trips

df['viajes'] = df['viajes'] * 1000
df['viajes_km'] = df['viajes_km'] * 1000

/var/folders/5y/mx06x73d0yb7mfb57y7lb2nh0000gn/T/ipykernel_15403/2576502206.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['viajes'] = df['viajes'] * 1000
/var/folders/5y/mx06x73d0yb7mfb57y7lb2nh0000gn/T/ipykernel_15403/2576502206.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['viajes_km'] = df['viajes_km'] * 1000

In [14]:
all_viajes

,fecha,periodo,origen,destino,distancia,actividad_origen,actividad_destino,estudio_origen_posible,estudio_destino_posible,residencia,renta,edad,sexo,viajes,viajes_km
0,20220301,0,2807901,2807901,0.5-2,casa,frecuente,no,no,28,>15,0-25,hombre,29.337,30.222
1,20220301,0,2807901,2807901,0.5-2,casa,frecuente,no,no,28,>15,0-25,mujer,34.143,27.522
2,20220301,0,2807901,2807901,0.5-2,casa,frecuente,no,no,28,>15,25-45,hombre,92.799,63.331
3,20220301,0,2807901,2807901,0.5-2,casa,frecuente,no,no,28,>15,25-45,mujer,65.475,44.556
4,20220301,0,2807901,2807901,0.5-2,casa,frecuente,no,no,28,>15,45-65,hombre,44.319,31.052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19900950,20220331,23,2807921,2807921,2-10,trabajo_estudio,frecuente,no,no,28,>15,0-25,hombre,6.787,19.129
19900951,20220331,23,2807921,2807921,2-10,trabajo_estudio,frecuente,no,no,28,>15,25-45,mujer,3.400,9.053
19900952,20220331,23,2807921,2807921,2-10,trabajo_estudio,frecuente,no,no,28,>15,65-100,hombre,2.005,4.716
19900953,20220331,23,2807921,2807921,2-10,trabajo_estudio,no_frecuente,no,no,28,10-15,0-25,hombre,9.134,33.998
19900954,20220331,23,2807921,2807921,2-10,trabajo_estudio,no_frecuente,no,no,28,>15,45-65,hombre,2.005,4.624

In [17]:
all_viajes['viajes'] = all_viajes['viajes'].apply(lambda x: float(str(x).replace('.', '').replace(',', '.')))
all_viajes['viajes_km'] = all_viajes['viajes_km'].apply(lambda x: float(str(x).replace('.', '').replace(',', '.')))

In [18]:
all_viajes.viajes.describe()

count    1.990096e+07
mean     9.016490e+08
std      2.116836e+10
min      1.000000e+01
25%      2.855000e+03
50%      4.473000e+03
75%      9.617000e+03
max      9.997415e+11
Name: viajes, dtype: float64