In [18]:
import pandas as pd
import config as cfg
from utils import open_gz_by_district
import tarfile

In [20]:
file = tarfile.open(cfg.VIAJES_DATA / '202104_maestra1_mitma_distrito.tar') # open file, a zipped folder containing all data monthly (typically in .tar format)
file.extractall(cfg.VIAJES_DATA / 'test') # extracting file, unzipped folder containing several files
file.close()

In [21]:
df = pd.read_csv('/Users/caro/Desktop/thesis_project/mobility_data/VIAJES/test/20210401_maestra_1_mitma_distrito.txt.gz', compression='gzip', sep='|', decimal='.')

/var/folders/5y/mx06x73d0yb7mfb57y7lb2nh0000gn/T/ipykernel_26336/1512575668.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/caro/Desktop/thesis_project/mobility_data/VIAJES/test/20210401_maestra_1_mitma_distrito.txt.gz', compression='gzip', sep='|', decimal='.')

In [25]:
df.head(20)

,fecha,origen,destino,actividad_origen,actividad_destino,residencia,edad,periodo,distancia,viajes,viajes_km
0,20210401,01001_AM,01001_AM,casa,otros,1,NaN,0,010-050,13.301,134.204
1,20210401,01001_AM,01001_AM,casa,otros,1,NaN,1,002-005,13.301,65.346
2,20210401,01001_AM,01001_AM,casa,otros,1,NaN,3,005-010,12.667,87.846
3,20210401,01001_AM,01001_AM,casa,otros,1,NaN,4,010-050,13.301,134.204
4,20210401,01001_AM,01001_AM,casa,otros,1,NaN,5,002-005,11.902,27.716
5,20210401,01001_AM,01001_AM,casa,otros,1,NaN,7,005-010,13.301,93.206
6,20210401,01001_AM,01001_AM,casa,otros,1,NaN,8,005-010,7.309,63.214
7,20210401,01001_AM,01001_AM,casa,otros,1,NaN,8,010-050,26.520,414.753
8,20210401,01001_AM,01001_AM,casa,otros,1,NaN,9,005-010,35.653,234.286
9,20210401,01001_AM,01001_AM,casa,otros,1,NaN,9,010-050,20.610,273.719
10,20210401,01001_AM,01001_AM,casa,otros,1,NaN,10,005-010,35.083,263.970
11,20210401,01001_AM,01001_AM,casa,otros,1,NaN,11,002-005,9.880,44.056
12,20210401,01001_AM,01001_AM,casa,otros,1,NaN,11,005-010,25.203,217.878
13,20210401,01001_AM,01001_AM,casa,otros,1,NaN,11,010-050,17.189,249.756
14,20210401,01001_AM,01001_AM,casa,otros,1,NaN,12,002-005,9.880,38.722
15,20210401,01001_AM,01001_AM,casa,otros,1,NaN,12,010-050,9.880,103.798
16,20210401,01001_AM,01001_AM,casa,otros,1,NaN,13,005-010,19.781,163.307
17,20210401,01001_AM,01001_AM,casa,otros,1,NaN,13,010-050,29.661,444.507
18,20210401,01001_AM,01001_AM,casa,otros,1,NaN,14,005-010,25.203,197.382
19,20210401,01001_AM,01001_AM,casa,otros,1,NaN,14,010-050,9.880,179.744

In [8]:
all_viajes = pd.read_csv(cfg.VIAJES_DATA / 'all_viajes_month_0322.csv')
df = all_viajes.loc[(all_viajes['actividad_origen'] == 'casa')]
test = pd.read_csv(cfg.VIAJES_DATA / 'TEST_viajes_week_0322.csv')

In [10]:
test.viajes.describe()

count    1.361784e+06
mean     1.294552e+01
std      3.200773e+01
min      1.000000e+00
25%      3.230000e+00
50%      5.556000e+00
75%      1.087500e+01
max      1.252723e+03
Name: viajes, dtype: float64

In [3]:
test.viajes.describe()

count    1.361784e+06
mean     1.294552e+01
std      3.200773e+01
min      1.000000e+00
25%      3.230000e+00
50%      5.556000e+00
75%      1.087500e+01
max      1.252723e+03
Name: viajes, dtype: float64

In [9]:
type(test.viajes[0])

numpy.float64

In [5]:
all_viajes.viajes.describe()

count    1.990096e+07
mean     1.256181e+01
std      2.997316e+01
min      1.000000e+00
25%      3.319000e+00
50%      5.478000e+00
75%      1.078300e+01
max      1.254067e+03
Name: viajes, dtype: float64

In [6]:
all_viajes

,fecha,periodo,origen,destino,distancia,actividad_origen,actividad_destino,estudio_origen_posible,estudio_destino_posible,residencia,renta,edad,sexo,viajes,viajes_km
0,20220301,0,2807901,2807901,0.5-2,casa,frecuente,no,no,28,>15,0-25,hombre,29.337,30.222
1,20220301,0,2807901,2807901,0.5-2,casa,frecuente,no,no,28,>15,0-25,mujer,34.143,27.522
2,20220301,0,2807901,2807901,0.5-2,casa,frecuente,no,no,28,>15,25-45,hombre,92.799,63.331
3,20220301,0,2807901,2807901,0.5-2,casa,frecuente,no,no,28,>15,25-45,mujer,65.475,44.556
4,20220301,0,2807901,2807901,0.5-2,casa,frecuente,no,no,28,>15,45-65,hombre,44.319,31.052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19900950,20220331,23,2807921,2807921,2-10,trabajo_estudio,frecuente,no,no,28,>15,0-25,hombre,6.787,19.129
19900951,20220331,23,2807921,2807921,2-10,trabajo_estudio,frecuente,no,no,28,>15,25-45,mujer,3.400,9.053
19900952,20220331,23,2807921,2807921,2-10,trabajo_estudio,frecuente,no,no,28,>15,65-100,hombre,2.005,4.716
19900953,20220331,23,2807921,2807921,2-10,trabajo_estudio,no_frecuente,no,no,28,10-15,0-25,hombre,9.134,33.998
19900954,20220331,23,2807921,2807921,2-10,trabajo_estudio,no_frecuente,no,no,28,>15,45-65,hombre,2.005,4.624

In [3]:
all_viajes.shape

(19900955, 15)

In [4]:
df.shape

(4839108, 15)

In [9]:
import pandas as pd
# all_viajes = pd.read_csv('/Users/caro/Desktop/thesis_project/mobility_data/VIAJES/all_viajes_month_0322.csv') # all trips

df['viajes'] = df['viajes'] * 1000
df['viajes_km'] = df['viajes_km'] * 1000

/var/folders/5y/mx06x73d0yb7mfb57y7lb2nh0000gn/T/ipykernel_15403/2576502206.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['viajes'] = df['viajes'] * 1000
/var/folders/5y/mx06x73d0yb7mfb57y7lb2nh0000gn/T/ipykernel_15403/2576502206.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['viajes_km'] = df['viajes_km'] * 1000

In [14]:
all_viajes

,fecha,periodo,origen,destino,distancia,actividad_origen,actividad_destino,estudio_origen_posible,estudio_destino_posible,residencia,renta,edad,sexo,viajes,viajes_km
0,20220301,0,2807901,2807901,0.5-2,casa,frecuente,no,no,28,>15,0-25,hombre,29.337,30.222
1,20220301,0,2807901,2807901,0.5-2,casa,frecuente,no,no,28,>15,0-25,mujer,34.143,27.522
2,20220301,0,2807901,2807901,0.5-2,casa,frecuente,no,no,28,>15,25-45,hombre,92.799,63.331
3,20220301,0,2807901,2807901,0.5-2,casa,frecuente,no,no,28,>15,25-45,mujer,65.475,44.556
4,20220301,0,2807901,2807901,0.5-2,casa,frecuente,no,no,28,>15,45-65,hombre,44.319,31.052
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19900950,20220331,23,2807921,2807921,2-10,trabajo_estudio,frecuente,no,no,28,>15,0-25,hombre,6.787,19.129
19900951,20220331,23,2807921,2807921,2-10,trabajo_estudio,frecuente,no,no,28,>15,25-45,mujer,3.400,9.053
19900952,20220331,23,2807921,2807921,2-10,trabajo_estudio,frecuente,no,no,28,>15,65-100,hombre,2.005,4.716
19900953,20220331,23,2807921,2807921,2-10,trabajo_estudio,no_frecuente,no,no,28,10-15,0-25,hombre,9.134,33.998
19900954,20220331,23,2807921,2807921,2-10,trabajo_estudio,no_frecuente,no,no,28,>15,45-65,hombre,2.005,4.624

In [17]:
all_viajes['viajes'] = all_viajes['viajes'].apply(lambda x: float(str(x).replace('.', '').replace(',', '.')))
all_viajes['viajes_km'] = all_viajes['viajes_km'].apply(lambda x: float(str(x).replace('.', '').replace(',', '.')))

In [18]:
all_viajes.viajes.describe()

count    1.990096e+07
mean     9.016490e+08
std      2.116836e+10
min      1.000000e+01
25%      2.855000e+03
50%      4.473000e+03
75%      9.617000e+03
max      9.997415e+11
Name: viajes, dtype: float64