In [2]:
import config as cfg
import geopandas as gpd
import pandas as pd

In [46]:
merged = gpd.read_file(cfg.INCOME_DATA / 'geometries_and_income.geojson') 
distritos = pd.read_csv(cfg.ZONIFICACION_DATA / 'distritos/PROCESSED_nombres_distritos.csv')
all_viajes = pd.read_csv(cfg.VIAJES_DATA / 'all_viajes_month_0322.csv')
filtered_viajes = all_viajes.loc[(all_viajes['actividad_origen'] == 'casa')]
population = pd.read_csv(cfg.ZONIFICACION_DATA / 'distritos/poblacion_distritos.csv', sep='|', header=None)

## Distritos

In [47]:
population.columns = ['ID', 'Population']

In [48]:
distritos['ID'] = distritos['ID'].astype(str)
population['ID'] = population['ID'].astype(str)

# Performing the merge again
distritos_and_pop = pd.merge(distritos, population, how='left', on='ID')

In [49]:
distritos_and_pop

         ID                name               name_2  Population
0   2807901  Madrid distrito 01               Centro    140644.0
1   2807902  Madrid distrito 02           Arganzuela    153982.0
2   2807903  Madrid distrito 03               Retiro    118335.0
3   2807904  Madrid distrito 04            Salamanca    145579.0
4   2807905  Madrid distrito 05            Chamartín    145444.0
5   2807906  Madrid distrito 06               Tetuán    159564.0
6   2807907  Madrid distrito 07             Chamberí    138335.0
7   2807908  Madrid distrito 08  Fuencarral-El Pardo    247327.0
8   2807909  Madrid distrito 09      Moncloa-Aravaca    120589.0
9   2807910  Madrid distrito 10               Latina    239693.0
10  2807911  Madrid distrito 11          Carabanchel    258064.0
11  2807912  Madrid distrito 12                Usera    142324.0
12  2807913  Madrid distrito 13   Puente de Vallecas    238577.0
13  2807914  Madrid distrito 14            Moratalaz     93671.0
14  2807915  Madrid distrito 15        Ciudad Lineal    216400.0
15  2807916  Madrid distrito 16            Hortaleza    192809.0
16  2807917  Madrid distrito 17           Villaverde    154464.0
17  2807918  Madrid distrito 18    Villa de Vallecas    114469.0
18  2807919  Madrid distrito 19            Vicálvaro     75283.0
19  2807920  Madrid distrito 20  San Blas-Canillejas    159900.0
20  2807921  Madrid distrito 21              Barajas     49955.0

## Income data

In [50]:
income_stats = merged.describe()
income_stats.drop(columns=['ID'], inplace=True)
income_stats = income_stats.round(3)
income_stats.to_csv('income_stats.csv', index=True)

## Trips

In [51]:
all_viajes.shape

(19900955, 15)

In [52]:
filtered_viajes.shape

(4839108, 15)

In [12]:
all_viajes['origen'].value_counts()

origen
2807901    1420874
2807904    1169012
2807907    1155661
2807908    1126158
2807905    1120190
2807909    1071974
2807915    1069347
2807913    1013523
2807916    1000613
2807920     974444
2807903     951803
2807911     946791
2807902     944455
2807906     925146
2807910     821339
2807912     769539
2807918     747868
2807921     693479
2807917     670577
2807914     660732
2807919     647430
Name: count, dtype: int64

In [13]:
all_viajes['destino'].value_counts()

destino
2807901    1435112
2807904    1149389
2807907    1143168
2807908    1110279
2807905    1108916
2807915    1067931
2807909    1055101
2807913    1019993
2807916     992218
2807920     971356
2807902     966529
2807911     959021
2807903     949905
2807906     922644
2807910     830567
2807912     774293
2807918     752330
2807921     700436
2807917     676764
2807914     666447
2807919     648556
Name: count, dtype: int64

In [15]:
filtered_viajes['origen'].value_counts()

origen
2807913    327165
2807915    291898
2807911    279312
2807910    272315
2807920    265549
2807908    251018
2807916    231163
2807912    230787
2807902    230714
2807918    230571
2807901    229064
2807909    222036
2807917    218299
2807906    212322
2807914    211830
2807905    205081
2807903    202659
2807919    200911
2807904    200808
2807907    194238
2807921    131368
Name: count, dtype: int64

In [16]:
filtered_viajes['destino'].value_counts()

destino
2807901    314497
2807904    294641
2807907    286760
2807905    282802
2807908    279935
2807909    271858
2807915    257026
2807903    241772
2807916    240942
2807920    232022
2807913    231677
2807902    231099
2807906    228846
2807911    209789
2807912    190129
2807918    186369
2807910    180527
2807921    178309
2807919    173072
2807914    169536
2807917    157500
Name: count, dtype: int64

In [22]:
filtered_viajes['renta'].value_counts()

renta
>15      2814199
10-15    2024909
Name: count, dtype: int64

In [18]:
filtered_viajes['edad'].value_counts()

edad
45-65     1538593
25-45     1413815
65-100     980559
0-25       906141
Name: count, dtype: int64

In [19]:
filtered_viajes['sexo'].value_counts()

sexo
hombre    2505401
mujer     2333707
Name: count, dtype: int64

In [20]:
filtered_viajes['actividad_origen'].value_counts()

actividad_origen
casa    4839108
Name: count, dtype: int64

In [21]:
filtered_viajes['actividad_destino'].value_counts()

actividad_destino
frecuente          2148791
no_frecuente       1484577
trabajo_estudio    1205740
Name: count, dtype: int64

In [23]:
filtered_viajes['distancia'].value_counts()

distancia
2-10     2763117
0.5-2    1478457
10-50     597534
Name: count, dtype: int64