In [1]:
import networkx as nx
import pandas as pd
import geopandas as gpd
import config as cfg
import numpy as np
import matplotlib.pyplot as plt

In [4]:
all_viajes = pd.read_csv('/Users/caro/Desktop/thesis_project/mobility_data/VIAJES/all_viajes_month_0322.csv')
income = gpd.read_file('/Users/caro/Desktop/thesis_project/segregation_indices/data/processed/geometries_and_income.geojson')
gdf = gpd.read_file(cfg.ZONIFICACION_DATA / 'distritos/madrid_gdf.geojson')  # Load your GeoJSON file into a GeoDataFrame
# gdf = gdf.to_crs(epsg=4326)
district_mapping = pd.read_csv('/Users/caro/Desktop/thesis_project/data_overview/outputs/districts_and_population.csv')

# Filter data
filtered_df = all_viajes.loc[(all_viajes['actividad_origen'] == 'casa')]
# home_to_work = filtered_df.loc[(filtered_df['actividad_destino'] == 'trabajo_estudio')] # only trips from home to work
# short_trips = all_viajes.loc[(all_viajes['distancia']=='0.5-2')]
# long_trips = all_viajes.loc[(all_viajes['distancia']=='10-50')]
# women = all_viajes.loc[(all_viajes['sexo'] == 'mujer')]
# high_income = all_viajes.loc[(all_viajes['renta']=='10-15')]

home_work = all_viajes[
    ((all_viajes['actividad_origen'] == 'casa') & (all_viajes['actividad_destino'] == 'trabajo_estudio')) |
    ((all_viajes['actividad_origen'] == 'trabajo_estudio') & (all_viajes['actividad_destino'] == 'casa'))
]

/Users/caro/Desktop/thesis_project/.thesis_env/lib/python3.11/site-packages/geopandas/array.py:334: UserWarning: Cannot set the CRS, falling back to None. The CRS support requires the 'pyproj' package, but it is not installed or does not import correctly. The functions depending on CRS will raise an error or may produce unexpected results.
  self.crs = crs
/Users/caro/Desktop/thesis_project/.thesis_env/lib/python3.11/site-packages/geopandas/geodataframe.py:59: UserWarning: Cannot set the CRS, falling back to None. The CRS support requires the 'pyproj' package, but it is not installed or does not import correctly. The functions depending on CRS will raise an error or may produce unexpected results.
  data.array.crs = crs
/Users/caro/Desktop/thesis_project/.thesis_env/lib/python3.11/site-packages/geopandas/geodataframe.py:407: UserWarning: Cannot set the CRS, falling back to None. The CRS support requires the 'pyproj' package, but it is not installed or does not import correctly. The functions depending on CRS will raise an error or may produce unexpected results.
  level.array.crs = crs

In [5]:
def build_trip_count(df, sociodemographic_var):
    trip_counts = df.groupby(['origen', 'destino', sociodemographic_var]).size().reset_index(name='trip_count')
    return trip_counts

def get_district_names(trip_counts):
    # get names of districts
    trip_counts = trip_counts.merge(district_mapping[['ID', 'name_2']], how='left', left_on='origen', right_on='ID')
    trip_counts = trip_counts.rename(columns={'name_2': 'origin'})
    trip_counts = trip_counts.merge(district_mapping[['ID', 'name_2']], how='left', left_on='destino', right_on='ID')
    trip_counts = trip_counts.rename(columns={'name_2': 'destination'})

    # drop extra columns
    trip_counts = trip_counts.drop(columns=['ID_x', 'ID_y'])

    return trip_counts

def get_income_data(trip_counts, income_var_1, income_var_2):
    # get origin incomes
    trip_counts = trip_counts.merge(
    income[['ID', income_var_1, income_var_2]], 
    left_on='origen', 
    right_on='ID', 
    how='left'
)
    # rename
    trip_counts.rename(columns={income_var_1: f'Origin {income_var_1}'}, inplace=True)
    trip_counts.rename(columns={income_var_2: f'Origin {income_var_2}'}, inplace=True)

    # drop extra columns
    trip_counts.drop(columns=['ID'], inplace=True)

    # get destination incomes
    trip_counts = trip_counts.merge(
        income[['ID', income_var_1, income_var_2]], 
        left_on='destino', 
        right_on='ID', 
        how='left'
    )

    # rename columns
    trip_counts.rename(columns={income_var_1: f'Destination {income_var_1}'}, inplace=True)
    trip_counts.rename(columns={income_var_2: f'Destination {income_var_2}'}, inplace=True)
    # drop extra columns
    trip_counts.drop(columns=['ID', 'origen', 'destino'], inplace=True)

    return trip_counts

def add_quantiles(trip_counts, income_var, n_quantiles=10):
    trip_counts[f'income decile origin {income_var}'] = pd.qcut(trip_counts[f'Origin {income_var}'], n_quantiles, labels=False, duplicates='drop')
    trip_counts[f'income decile destination {income_var}'] = pd.qcut(trip_counts[f'Destination {income_var}'], n_quantiles, labels=False, duplicates='drop') 
    return trip_counts

In [6]:
trip_counts = build_trip_count(home_work, 'renta')
trip_counts = get_district_names(trip_counts)
trip_counts = get_income_data(trip_counts, 'Gini Index', 'Median income per consumption unit')
trip_counts = add_quantiles(trip_counts, 'Median income per consumption unit')
trip_counts = add_quantiles(trip_counts, 'Gini Index')

In [13]:
trip_counts.sort_values(by='trip_count', ascending=False).tail(10)

,renta,trip_count,origin,destination,Origin Gini Index,Origin Median income per consumption unit,Destination Gini Index,Destination Median income per consumption unit,income decile origin Median income per consumption unit,income decile destination Median income per consumption unit,income decile origin Gini Index,income decile destination Gini Index
199,>15,338,Chamberí,Vicálvaro,37.9,29750,30.4,19250,7,2,7,0
328,>15,334,Carabanchel,Barajas,33.1,15750,33.2,25550,0,5,3,4
632,>15,332,Barajas,Carabanchel,33.2,25550,33.1,15750,5,0,4,3
565,>15,307,Vicálvaro,Chamberí,30.4,19250,37.9,29750,2,7,0,7
517,>15,299,Villaverde,Barajas,31.9,15050,33.2,25550,0,5,2,4
641,>15,295,Barajas,Villaverde,33.2,25550,31.9,15050,5,0,4,2
630,>15,273,Barajas,Latina,33.2,25550,31.8,17850,5,1,4,2
294,>15,272,Latina,Barajas,31.8,17850,33.2,25550,1,5,2,4
634,>15,193,Barajas,Usera,33.2,25550,33.4,14350,5,0,4,4
362,>15,171,Usera,Barajas,33.4,14350,33.2,25550,0,5,4,4

In [15]:
from scipy.stats import pearsonr, spearmanr

# Pearson correlation for linear relationships
pearson_corr_income, _ = pearsonr(trip_counts['Origin Median income per consumption unit'], trip_counts['trip_count'])
pearson_corr_gini, _ = pearsonr(trip_counts['Origin Gini Index'], trip_counts['trip_count'])

# Spearman correlation for non-linear relationships
spearman_corr_income, _ = spearmanr(trip_counts['Origin Median income per consumption unit'], trip_counts['trip_count'])
spearman_corr_gini, _ = spearmanr(trip_counts['Origin Gini Index'], trip_counts['trip_count'])

# Display the results
print(f"Pearson Correlation between Trip Count and Origin Median Income: {pearson_corr_income:.2f}")
print(f"Pearson Correlation between Trip Count and Origin Gini Index: {pearson_corr_gini:.2f}")
print(f"Spearman Correlation between Trip Count and Origin Median Income: {spearman_corr_income:.2f}")
print(f"Spearman Correlation between Trip Count and Origin Gini Index: {spearman_corr_gini:.2f}")

Pearson Correlation between Trip Count and Origin Median Income: 0.06
Pearson Correlation between Trip Count and Origin Gini Index: 0.10
Spearman Correlation between Trip Count and Origin Median Income: 0.11
Spearman Correlation between Trip Count and Origin Gini Index: 0.14

In [ ]:
# TODO: COMPLETE
def sort(trip_counts, var, threshold):
    high_rent_df = trip_counts[trip_counts[var] == '>15'].sort_values(by='trip_count', ascending=False)
    high_rent_top3 = high_rent_df.head(3)
    high_rent_bottom3 = high_rent_df.tail(3)

    # Filter medium rent (10-15)
    medium_rent_df = trip_counts[trip_counts[var] == '10-15'].sort_values(by='trip_count', ascending=False)
    medium_rent_top3 = medium_rent_df.head(3)
    medium_rent_bottom3 = medium_rent_df.tail(3)

    # Filter low rent (<10)
    low_rent_df = trip_counts[trip_counts[var] == '<10'].sort_values(by='trip_count', ascending=False)
    low_rent_top3 = low_rent_df.head(3)
    low_rent_bottom3 = low_rent_df.tail(3)

    # Combine the results into one DataFrame for easy viewing
    top3_bottom3_combined = pd.concat([
        high_rent_top3, high_rent_bottom3,
        medium_rent_top3, medium_rent_bottom3,
        low_rent_top3, low_rent_bottom3
    ])

In [48]:
high_rent_df = trip_counts[trip_counts['renta'] == '>15'].sort_values(by='trip_count', ascending=False)
high_rent_top3 = high_rent_df.head(3)
high_rent_bottom3 = high_rent_df.tail(3)

# Filter medium rent (10-15)
medium_rent_df = trip_counts[trip_counts['renta'] == '10-15'].sort_values(by='trip_count', ascending=False)
medium_rent_top3 = medium_rent_df.head(3)
medium_rent_bottom3 = medium_rent_df.tail(3)

# Filter low rent (<10)
low_rent_df = trip_counts[trip_counts['renta'] == '<10'].sort_values(by='trip_count', ascending=False)
low_rent_top3 = low_rent_df.head(3)
low_rent_bottom3 = low_rent_df.tail(3)

# Combine the results into one DataFrame for easy viewing
top3_bottom3_combined = pd.concat([
    high_rent_top3, high_rent_bottom3,
    medium_rent_top3, medium_rent_bottom3,
    low_rent_top3, low_rent_bottom3
])

In [49]:
high_rent_top3

,origen,destino,renta,trip_count,Origin median income per consumption unit,Origin Gini Index,Destination median income per consumption unit,Destination Gini Index,origen_name,destino_name
210,2807908,2807908,>15,23484,26950,34.4,26950,34.4,Fuencarral-El Pardo,Fuencarral-El Pardo
474,2807916,2807916,>15,21220,24850,37.2,24850,37.2,Hortaleza,Hortaleza
648,2807921,2807921,>15,17979,25550,33.2,25550,33.2,Barajas,Barajas

In [29]:
high_rent_bottom3

      origen  destino renta  trip_count origen_name destino_name
294  2807910  2807921   >15         272      Latina      Barajas
634  2807921  2807912   >15         193     Barajas        Usera
362  2807912  2807921   >15         171       Usera      Barajas

In [33]:
medium_rent_top3

,origen,destino,renta,trip_count,origen_name,destino_name
547,2807918,2807918,10-15,20771,Villa de Vallecas,Villa de Vallecas
512,2807917,2807917,10-15,20738,Villaverde,Villaverde
617,2807920,2807920,10-15,19624,San Blas-Canillejas,San Blas-Canillejas

In [32]:
medium_rent_bottom3

      origen  destino  renta  trip_count origen_name destino_name
506  2807917  2807914  10-15         569  Villaverde    Moratalaz
406  2807914  2807910  10-15         515   Moratalaz       Latina
283  2807910  2807914  10-15         488      Latina    Moratalaz

In [25]:
trip_counts.sort_values(by='trip_count', ascending=False)

,origen,destino,renta,trip_count,origen_name,destino_name
210,2807908,2807908,>15,23484,Fuencarral-El Pardo,Fuencarral-El Pardo
474,2807916,2807916,>15,21220,Hortaleza,Hortaleza
547,2807918,2807918,10-15,20771,Villa de Vallecas,Villa de Vallecas
512,2807917,2807917,10-15,20738,Villaverde,Villaverde
617,2807920,2807920,10-15,19624,San Blas-Canillejas,San Blas-Canillejas
...,...,...,...,...,...,...
641,2807921,2807917,>15,295,Barajas,Villaverde
630,2807921,2807910,>15,273,Barajas,Latina
294,2807910,2807921,>15,272,Latina,Barajas
634,2807921,2807912,>15,193,Barajas,Usera
362,2807912,2807921,>15,171,Usera,Barajas

In [26]:
adj_1 = np.load('adjacency_matrices/filtered_df.npy')

In [27]:
adj_1

array([[0.62991398, 0.54832021, 0.42444451, 0.44823335, 0.23102356,
        0.19608283, 0.68091008, 0.24923646, 0.54181961, 0.40401804,
        0.36607918, 0.22057217, 0.13309423, 0.04578442, 0.13754938,
        0.13895038, 0.08691754, 0.08383536, 0.05220096, 0.11936451,
        0.10980975],
       [0.69567654, 0.58914511, 0.50867214, 0.23511446, 0.18437053,
        0.1485892 , 0.26422707, 0.217518  , 0.35559976, 0.35209728,
        0.57894589, 0.58017877, 0.32298467, 0.06273642, 0.12600521,
        0.15172742, 0.13469136, 0.10740004, 0.06385721, 0.11866401,
        0.0961921 ],
       [0.53030345, 0.43310264, 0.54142733, 0.57042786, 0.18678024,
        0.12967581, 0.2622937 , 0.18431449, 0.16192664, 0.07643812,
        0.11532965, 0.11165905, 0.56241419, 0.43876264, 0.23917734,
        0.12283897, 0.05982235, 0.10521449, 0.0791    , 0.10431786,
        0.09296982],
       [0.39527586, 0.12177422, 0.45563059, 0.56104122, 0.57258539,
        0.19064698, 0.52172938, 0.22023593, 0.19022668, 0.06085909,
        0.08310684, 0.05690829, 0.11656253, 0.30656505, 0.57365014,
        0.16767071, 0.04093698, 0.06702345, 0.06800415, 0.16685814,
        0.11914035],
       [0.23550674, 0.09218527, 0.15677099, 0.59228334, 0.68393623,
        0.50163916, 0.4920844 , 0.5425201 , 0.18823727, 0.05665611,
        0.0864412 , 0.04556026, 0.06929306, 0.04429936, 0.53792485,
        0.47303091, 0.02841212, 0.04404719, 0.04060075, 0.13281403,
        0.1319174 ],
       [0.29356384, 0.12816274, 0.16100199, 0.27380986, 0.62991398,
        0.63131497, 0.64753846, 0.78374289, 0.58922917, 0.09411864,
        0.10109558, 0.06946118, 0.10384152, 0.04155342, 0.17801003,
        0.19599877, 0.04726947, 0.05943008, 0.05152848, 0.13998711,
        0.1584802 ],
       [0.6675166 , 0.14564712, 0.19930511, 0.52430721, 0.47364734,
        0.53218078, 0.57289361, 0.2590434 , 0.54352882, 0.134187  ,
        0.07977248, 0.05304155, 0.07066603, 0.01891339, 0.13312225,
        0.13584017, 0.03634173, 0.04471966, 0.02600241, 0.11196727,
        0.10969767],
       [0.33528538, 0.17560033, 0.20308779, 0.27722828, 0.53669198,
        0.73529659, 0.35187313, 1.        , 0.67390512, 0.11603015,
        0.11583401, 0.07058197, 0.11667461, 0.07016167, 0.32561854,
        0.6788086 , 0.05892572, 0.08030486, 0.07066603, 0.22729693,
        0.24343635],
       [0.6055087 , 0.24035417, 0.1418084 , 0.24281992, 0.25512063,
        0.56106924, 0.65821402, 0.65726134, 0.7848917 , 0.57339797,
        0.17635686, 0.07730673, 0.07030177, 0.01742834, 0.12407184,
        0.15186752, 0.04987531, 0.04382303, 0.02664687, 0.10274875,
        0.09036398],
       [0.65109698, 0.48124072, 0.22309395, 0.34273866, 0.35251758,
        0.29098602, 0.39642467, 0.29633781, 0.75821682, 0.84471406,
        0.78690913, 0.22006781, 0.20415254, 0.08041694, 0.21771414,
        0.1734428 , 0.17941102, 0.16789487, 0.08756199, 0.17237804,
        0.13272997],
       [0.50718709, 0.65829808, 0.2275491 , 0.29193869, 0.32430161,
        0.25030121, 0.31012357, 0.25517667, 0.35492729, 0.74714898,
        0.85527754, 0.70968646, 0.23399367, 0.09582785, 0.24214744,
        0.17876657, 0.32729973, 0.23973773, 0.11023004, 0.19790412,
        0.1382779 ],
       [0.36773235, 0.63061448, 0.22404663, 0.20583373, 0.21401552,
        0.16548516, 0.21149374, 0.15338059, 0.21869484, 0.1908151 ,
        0.65569223, 0.67281235, 0.45139959, 0.09776121, 0.15032643,
        0.13267393, 0.60657345, 0.21676147, 0.09036398, 0.14685197,
        0.09310992],
       [0.35515145, 0.57180083, 0.72742302, 0.3521253 , 0.29496484,
        0.25114181, 0.2845975 , 0.25747429, 0.2902575 , 0.21858276,
        0.26677688, 0.56319874, 0.84897307, 0.60887108, 0.2831965 ,
        0.26871025, 0.45955336, 0.75670375, 0.45549049, 0.24904032,
        0.23290089],
       [0.207627  , 0.12124184, 0.55767884, 0.47919527, 0.17411527,
        0.10849281, 0.17235002, 0.17223794, 0.13701701, 0.07024573,
        0.09860181, 0.08694556, 0.60464009, 0.53173247, 0.48592003,
        0.1321976 , 0.06478187, 0.28470957, 0.42326767, 0.34212222,
        0.11014598],
       [0.29715038, 0.16778279, 0.4358766 , 0.77998823, 0.68236712,
        0.22732495, 0.28448542, 0.38661773, 0.25753033, 0.12278293,
        0.17148141, 0.11712292, 0.19510213, 0.60144582, 0.76373673,
        0.5742946 , 0.10787638, 0.15839614, 0.32329289, 0.72652638,
        0.22757712],
       [0.24682675, 0.12746224, 0.15825605, 0.26826193, 0.54571437,
        0.20939225, 0.24069041, 0.6577657 , 0.22012385, 0.05920592,
        0.07383227, 0.05878562, 0.12042926, 0.06077503, 0.62178823,
        0.89374877, 0.04118916, 0.09739696, 0.10328112, 0.57423856,
        0.52780969],
       [0.30118524, 0.23054723, 0.19482193, 0.27224075, 0.22191712,
        0.16937992, 0.29185463, 0.15615456, 0.23021099, 0.1559304 ,
        0.30760178, 0.63546191, 0.33618202, 0.0725994 , 0.17050071,
        0.12412788, 0.86486032, 0.44428255, 0.12474432, 0.13401889,
        0.1079044 ],
       [0.31443862, 0.16988428, 0.21292275, 0.26730925, 0.20291967,
        0.13371067, 0.22726891, 0.14486256, 0.13937067, 0.08868279,
        0.18039172, 0.24105467, 0.72422875, 0.21634117, 0.17739359,
        0.16248704, 0.48160498, 0.8610216 , 0.62332932, 0.17680518,
        0.14435821],
       [0.20193897, 0.09969458, 0.19361708, 0.25125389, 0.1771134 ,
        0.11244361, 0.17464765, 0.12466026, 0.111575  , 0.03603351,
        0.07136653, 0.05595562, 0.44302166, 0.4327664 , 0.26924262,
        0.1800835 , 0.07153465, 0.56633697, 0.74014402, 0.58384937,
        0.16203872],
       [0.28947295, 0.14057553, 0.2009863 , 0.30589257, 0.26576816,
        0.20616997, 0.27644372, 0.34523242, 0.23553476, 0.0826305 ,
        0.12508056, 0.11084648, 0.16601754, 0.33388439, 0.725994  ,
        0.57762896, 0.09117655, 0.19459778, 0.68668217, 0.87665667,
        0.6331923 ],
       [0.11362044, 0.03174648, 0.05581552, 0.14357365, 0.14410603,
        0.09072824, 0.142649  , 0.20978453, 0.06441761, 0.00358654,
        0.01210457, 0.        , 0.0274034 , 0.00156911, 0.14856118,
        0.56608479, 0.00389476, 0.02821598, 0.03227885, 0.52663286,
        0.76396088]])